*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  background-color: #e6dfe8;
  margin-bottom: 300px;
}


img {
  max-width: 100%;
}

figure {
  margin: 0;
}

span {
  display: block;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}


.form {
  margin-bottom: 30px;
}

.search {
  width: 230px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.search:focus {
  outline: none;
}

.card {
  min-width: 260px;
  max-width: 390px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 2vh;
  padding-bottom: 20px;
  box-shadow: 0 0 20px 7px #858ebf;
  background-color: #4D5E7E;
}



.card-top__figure img  {
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0px 4px 10px #c1b3b3;
  border: 1px solid #ccc;
}


.card-top__name {
  font-size: 2.5rem;
  margin: 10px;
  font-weight: 500; 
  color: #fff;
  text-shadow: 0px 2px 2px #000;
}

.card-top__bio {
  font-size: 1.5rem;
  padding: 5px 30px 0;
  line-height: 22px;
  text-shadow: 0px 0px 2px #bdc2d6;
}


.card-bottom {
  margin: 28px 15px 0;
  border-radius: 4px;
  background-color: #Fff;
  padding: 20px;
}


.card-bottom__repos,
.card-bottom__gists,
.card-bottom__followers {
  padding: 10px;
}


@media screen and (min-width: 765px) {
  span {
    display: inline-block;
  }
}